body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

h2, h3 {
    color: #333;
}

#resultados {
    margin-top: 20px;
}

.result-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #4CAF50;
    border-radius: 4px;
}

.result-section :hover{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #da928d;
    border-left: 5px solid #ff0000;
    border-radius: 4px;
}

.result-section p {
    margin: 0;
}

.result-section p span {
    font-weight: bold;
    color: #4CAF50;
}
.result-section p span :hover {
    font-weight: bold;
    color: #ff0000;
}
